#navegador{
    height: 35px;
}
.colorazul{
    background: #006dcc;
}
tr{
    height : 0.7rem;
    font-size: 0.8rem;
    margin: 0 0 0 0;
    }
    
.table-sm td, .table-sm th {
    padding: 0rem;
}

.btn-xxs {
    height: 1.3rem;
    vertical-align:middle;
    font-size:x-small;
}
label{
    font-size: 80%;
}